@media all and (max-width: 992px){

    .portfolio-wrapper .portfolio-item {
        flex-basis: 50%;
    
    }

    .container {
        width: 768px;
    }

    section img {
        width: 80%;
        height: 80%;
    }
}



@media all and (max-width: 768px){
    
    .portfolio-wrapper .portfolio-item {
        flex-basis: 100%;    
    }

    .container {
        width: 95%;
    }

    .header h1 {
        font-size: 2.2em;
    }

    section img {
        width: 80%;
        height: 80%;
    }
}




@media all and (max-width: 480px){
    
    textarea,
    form input:not([type="submit"]) {
    flex-basis: 80%;
    margin: 1% auto;
    }

    section img {
        width: 80%;
        height: 80%;
    }
}